
MACHINE ??= "wandboard-zhou"

DL_DIR ?= "${HOME}/soft/yocto-shared-download"
SSTATE_DIR ?= "${HOME}/soft/yocto-shared-sstate-cache"
DISTRO ?= "poky"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink buildstats"

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

PACKAGECONFIG_append_pn-qemu-system-native = " sdl"

CONF_VERSION = "1"

# build history ----------------
INHERIT += "buildhistory"
BUILDHISTORY_COMMIT = "1"
BUILDHISTORY_FEATURES = "image"
# BUILDHISTORY_IMAGE_FILES += "/path/to/file

# just added so buildhistory is happy
PRSERV_HOST = "localhost:0"

# build statistics ----------------
# set in USER_CLASSES
BUILDSTATS_BASE = "${TOPDIR}/build-stats"
